Repository IditAvrahami/TabBuddy: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-backend, eslint-frontend, typescript-check, jest-frontend

.pre-commit-config.yaml:

repos:
  # Python hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: debug-statements

  # Black - Python code formatter
  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black
        language_version: python3
        files: ^backend/

  # Ruff - Fast Python linter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.9
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # MyPy - Python type checker
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        files: ^backend/
        additional_dependencies: [
            sqlalchemy>=2.0.0,
            pydantic>=2.0.0,
            fastapi>=0.100.0,
            types-python-dateutil,
            psycopg2-binary,
            alembic,
            freezegun,
            pytest>=7.0.0,
          ]
        args: [--config-file=pyproject.toml]

  # Pytest - Python tests
  - repo: local
    hooks:
      - id: pytest-backend
        name: pytest-backend
        entry: python tools/run_tests.py
        language: system
        pass_filenames: false
        always_run: false
        files: ^backend/.*\.py$

  # ESLint - JavaScript/TypeScript linter
  - repo: local
    hooks:
      - id: eslint-frontend
        name: eslint-frontend
        entry: cmd /c "cd frontend && npm run lint:fix"
        language: system
        files: ^frontend/src/.*\.(js|jsx|ts|tsx)$
        pass_filenames: false

  # TypeScript type checking
  - repo: local
    hooks:
      - id: typescript-check
        name: typescript-check
        entry: cmd /c "cd frontend && npm run type-check"
        language: system
        files: ^frontend/src/.*\.(ts|tsx)$
        pass_filenames: false

  # Jest - Frontend tests
  - repo: local
    hooks:
      - id: jest-frontend
        name: jest-frontend
        entry: cmd /c "cd frontend && npm run test:ci"
        language: system
        files: ^frontend/src/.*\.(js|jsx|ts|tsx)$
        pass_filenames: false

moved backend files to backend directory
  .pre-commit-config.yaml
  backend/Dockerfile
  backend/README_TESTING.md
  backend/pyproject.toml
  backend/pytest.ini
Due: none

extracted styles to css and using svgs instead of inline emojis
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/assets/icons/delete.svg
  frontend/src/assets/icons/edit.svg
  frontend/src/assets/icons/hourglass.svg
  frontend/src/assets/icons/meal.svg
  frontend/src/assets/icons/pill.svg
  frontend/src/assets/icons/tab-icon.svg
  frontend/src/components/DrugForm.css
  frontend/src/components/DrugForm.tsx
  frontend/src/components/DrugList.css
  frontend/src/components/DrugList.tsx
  frontend/src/components/Icon.tsx
  frontend/src/components/Navbar.css
  frontend/src/components/Navbar.tsx
  frontend/src/components/ReminderModal.css
  frontend/src/components/ReminderModal.tsx
  frontend/src/components/Settings.css
  frontend/src/components/Settings.tsx
Due: eslint-frontend, typescript-check, jest-frontend

extracted styles to css and using svgs instead of inline emojis (#9)
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/assets/icons/delete.svg
  frontend/src/assets/icons/edit.svg
  frontend/src/assets/icons/hourglass.svg
  frontend/src/assets/icons/meal.svg
  frontend/src/assets/icons/pill.svg
  frontend/src/assets/icons/tab-icon.svg
  frontend/src/components/DrugForm.css
  frontend/src/components/DrugForm.tsx
  frontend/src/components/DrugList.css
  frontend/src/components/DrugList.tsx
  frontend/src/components/Icon.tsx
  frontend/src/components/Navbar.css
  frontend/src/components/Navbar.tsx
  frontend/src/components/ReminderModal.css
  frontend/src/components/ReminderModal.tsx
  frontend/src/components/Settings.css
  frontend/src/components/Settings.tsx
Due: eslint-frontend, typescript-check, jest-frontend

added readme to the project
  README.md
Due: none

refactor: replace timeline calculator with Redis/RabbitMQ notification pipeline
  .pre-commit-config.yaml
  README.md
  backend/alembic/env.py
  backend/alembic/versions/0002_change_depends_on_drug_to_schedule.py
  backend/alembic/versions/0003_remove_independent_dependency_type.py
  backend/alembic/versions/0004_remove_meal_timing_use_signed_offset.py
  backend/alembic/versions/0005_remove_frequency_per_day.py
  backend/api/drug.py
  backend/api/meal.py
  backend/api/notifications.py
  backend/database.py
  backend/main.py
  backend/models.py
  backend/pyproject.toml
  backend/requirements.txt
  backend/schemas.py
  backend/services/notification_scheduler.py
  backend/services/rabbitmq_client.py
  backend/services/redis_client.py
  backend/services/timeline_calculator.py
  backend/test/api/drug/test_drug_api.py
  backend/test/api/test_notifications_api.py
  backend/test/conftest.py
  docker-compose.yml
  frontend/src/App.tsx
  frontend/src/api.ts
  frontend/src/components/DrugCard.tsx
  frontend/src/components/DrugForm.tsx
  frontend/src/components/forms/DependencySelector.tsx
  frontend/src/components/forms/MealDependencyFields.tsx
  tools/create_timed_notification.py
  tools/create_utc_notification.py
  tools/debug_backend.py
  worker/Dockerfile
  worker/__init__.py
  worker/main.py
  worker/requirements.txt
Due: pytest-backend, eslint-frontend, typescript-check, jest-frontend

refactor: replace timeline calculator with Redis/RabbitMQ notification pipeline (#11)
  .pre-commit-config.yaml
  README.md
  backend/alembic/env.py
  backend/alembic/versions/0002_change_depends_on_drug_to_schedule.py
  backend/alembic/versions/0003_remove_independent_dependency_type.py
  backend/alembic/versions/0004_remove_meal_timing_use_signed_offset.py
  backend/alembic/versions/0005_remove_frequency_per_day.py
  backend/api/drug.py
  backend/api/meal.py
  backend/api/notifications.py
  backend/database.py
  backend/main.py
  backend/models.py
  backend/pyproject.toml
  backend/requirements.txt
  backend/schemas.py
  backend/services/notification_scheduler.py
  backend/services/rabbitmq_client.py
  backend/services/redis_client.py
  backend/services/timeline_calculator.py
  backend/test/api/drug/test_drug_api.py
  backend/test/api/test_notifications_api.py
  backend/test/conftest.py
  docker-compose.yml
  frontend/src/App.tsx
  frontend/src/api.ts
  frontend/src/components/DrugCard.tsx
  frontend/src/components/DrugForm.tsx
  frontend/src/components/forms/DependencySelector.tsx
  frontend/src/components/forms/MealDependencyFields.tsx
  tools/create_timed_notification.py
  tools/create_utc_notification.py
  tools/debug_backend.py
  worker/Dockerfile
  worker/__init__.py
  worker/main.py
  worker/requirements.txt
Due: pytest-backend, eslint-frontend, typescript-check, jest-frontend

fix: migrate from pip to uv package manager
  README.md
  backend/.python-version
  backend/Dockerfile
  backend/alembic.ini
  backend/pyproject.toml
  backend/requirements.txt
  backend/uv.lock
  worker/.python-version
  worker/Dockerfile
  worker/pyproject.toml
  worker/requirements.txt
  worker/uv.lock
Due: none

Feature refactor notifications to redis (#12)
  README.md
  backend/.python-version
  backend/Dockerfile
  backend/alembic.ini
  backend/pyproject.toml
  backend/requirements.txt
  backend/uv.lock
  worker/.python-version
  worker/Dockerfile
  worker/pyproject.toml
  worker/requirements.txt
  worker/uv.lock
Due: none

feature: safe deletion of DrugSchedule with dependency rewiring
  backend/api/drug.py
  backend/test/api/drug/test_drug_delete_rewire.py
  frontend/Dockerfile
  frontend/src/App.tsx
  frontend/src/api.ts
  frontend/src/components/DeleteConfirmModal.css
  frontend/src/components/DeleteConfirmModal.tsx
  frontend/src/components/DrugCard.tsx
  frontend/src/components/DrugForm.tsx
Due: pytest-backend, eslint-frontend, typescript-check, jest-frontend

fix: time overflow bug where rewired absolute times
  backend/api/drug.py
Due: pytest-backend

fix: rewire_and_delete_schedule missing else clause that caused silent CASCADE deletion of dependent schedules
  backend/api/drug.py
Due: pytest-backend

fix: use pydantic model
  backend/api/drug.py
Due: pytest-backend

fix: drug offset display, deduplicate rewire logic, and restore flush atomicity
  backend/api/drug.py
  backend/test/conftest.py
  frontend/package.json
  frontend/src/__tests__/DeleteConfirmModal.test.tsx
  frontend/src/__tests__/ReminderModal.test.tsx
  frontend/src/components/DeleteConfirmModal.tsx
  frontend/test/App.test.tsx
Due: pytest-backend, eslint-frontend, typescript-check, jest-frontend

fix: current offset
  docker-compose.yml
  frontend/src/__tests__/DeleteConfirmModal.test.tsx
  frontend/src/components/DeleteConfirmModal.tsx
Due: eslint-frontend, typescript-check, jest-frontend

feature: safe deletion of DrugSchedule with dependency rewiring (#13)
  backend/api/drug.py
  backend/test/api/drug/test_drug_delete_rewire.py
  backend/test/conftest.py
  docker-compose.yml
  frontend/Dockerfile
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/__tests__/DeleteConfirmModal.test.tsx
  frontend/src/__tests__/ReminderModal.test.tsx
  frontend/src/api.ts
  frontend/src/components/DeleteConfirmModal.css
  frontend/src/components/DeleteConfirmModal.tsx
  frontend/src/components/DrugCard.tsx
  frontend/src/components/DrugForm.tsx
  frontend/test/App.test.tsx
Due: pytest-backend, eslint-frontend, typescript-check, jest-frontend
